.tasks__button {
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    min-width: 30px;
    transition: color 0.4s;
    transition: transform 0.1s;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-position: center;
    transition: background-color 0.4s;
    background-repeat: no-repeat;
}

.tasks__button--doneButton {
    background-color: var(--greenButton--color);
    margin-right: 15px;
}

.tasks__button--doneButton:hover {
    background-color: var(--greenButtonLighter--color);
}

.tasks__button--doneButtonToggled {
    background-image: url(checked.svg);
    background-size: 75%;
}

.tasks__button--doneButton:active {
    transform: scale(0.85);
}

.tasks__button--deleteButton {
    background-color: var(--redButton--color);
    background-image: url(trash.svg);
    background-size: 85%;
    margin-left: 15px;
}

.tasks__button--deleteButton:hover {
    background-color: var(--redButtonLighter--color);
}

.tasks__button--deleteButton:active {
    transform: scale(0.85);
}

@media (max-width: 575px) {
    .tasks__button--doneButton::before {
        padding: 5px 10px;
    }
    .tasks__button--deleteButton::before {
        padding: 5px 10px;
    }
}

.tasks__list {
    list-style: none;
    padding-left: 0px;
    background-color: var(--section-bg-color);
}

.tasks__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--section-text-color);
}

@media (max-width: 175px) {
    .tasks__item {
        flex-wrap: wrap;
    }
}

.tasks__item--hidden {
    display: none;
}

.tasks__statement {
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
}

.tasks__paragraph {
    font-weight: 400;
    max-width: 100%;
    text-align: justify;
    flex-grow: 1;
    font-size: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.tasks__paragraph--centered {
    text-align: center;
    font-style: italic;
}

.tasks__paragraph--done {
    text-decoration: line-through;
    font-style: italic;
}

@media (max-width: 575px) {
    .tasks__paragraph {
        font-size: 16px;
    }
}