.header {
  margin: 10px auto;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.header__section {
  display: flex;
  justify-content: center;
  background-color: var(--section-bg-color);
  color: var(--section-text-color);
  width: 100%;
  padding: 20px;
  box-shadow: 1px 1px 2px 1px var(--section-shadow-color);
}

.header__title {
  text-transform: capitalize;
  color: var(--section-text-color);
  font-size: 40px;
  text-align: center;
}

@media (max-width: 767px) {
  .header__title {
    font-size: 30px;
  }
}