.wrapper {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper--dark {
    --background: #1a1a1a;
    --section-bg-color: #2a3a41;
    --section-text-color: rgb(255, 255, 255);
    --section-shadow-color: rgb(156, 156, 156);
    --svg-image--color: brightness(0%) invert(100%);
    --switch--color: var(--section-bg-color);
}