.form {
  display: flex;
}

@media (max-width: 575px) {
  .form {
    flex-direction: column;
  }
}

.form__input {
  width: 100%;
  padding: 10px 20px;
}

.form__button {
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  min-width: max-content;
  background-color: var(--section-text-color);
  color: var(--section-bg-color);
  letter-spacing: 1px;
  padding: 10px 10px;
  margin-left: 10px;
  transition: color 0.4s, transform 0.1s, background-color 0.4s;
}

@media (max-width: 575px) {
  .form__button {
    margin-top: 10px;
    margin-left: 0px;
  }
}

.form__button:hover {
  background-color: var(--section-bg-color);
  color: var(--section-text-color);
  border: 1px solid var(--section-text-color);
  font-weight: bold;
  padding-left: 7px;
}

.form__button:active {
  border: 1px solid var(--section-text-color);
  transform: scale(0.9);
}