.section {
    background-color: var(--section-bg-color);
    color: var(--section-text-color);
    width: 100%;
    padding: 20px;
    margin: 10px 0px;
    box-shadow: 1px 1px 2px 1px var(--section-shadow-color);
}

.section--footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media (max-width: 399px) {
    .section--footer {
        justify-content: center;
    }
}

.section__header {
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid;
    border-color: var(--section-text-color);
}