:root {
  box-sizing: border-box;
  --background: #c4bb91;
  --section-bg-color: #fff;
  --section-text-color: #141414;
  --section-shadow-color: #555;
  --greenButton--color: rgb(0, 172, 29);
  --greenButtonLighter--color: rgb(0, 218, 36);
  --redButton--color: rgb(172, 0, 0);
  --redButtonLighter--color: hsl(0, 100%, 45%);
  --switch--color: hsl(0, 0%, 100%);
  --svg-image--color: brightness(100%) invert(0%);
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--background);
  margin: 10px;
  min-height: 100vh;
}
[theme="night"] {
  --background: #1a1a1a;
  --section-bg-color: #2a3a41;
  --section-text-color: rgb(255, 255, 255);
  --section-shadow-color: rgb(156, 156, 156);
  --svg-image--color: brightness(0%) invert(100%);
  --switch--color: var(--section-bg-color);
}
