:root {
  box-sizing: border-box;
  --background: #c4bb91;
  --section-bg-color: #fff;
  --section-text-color: #141414;
  --section-shadow-color: #555;
  --greenButton--color: rgb(0, 172, 29);
  --greenButtonLighter--color: rgb(0, 218, 36);
  --redButton--color: rgb(172, 0, 0);
  --redButtonLighter--color: hsl(0, 100%, 45%);
  --switch--color: hsl(0, 0%, 100%);
  --svg-image--color: brightness(100%) invert(0%);
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto Condensed", sans-serif;
    flex-basis: 100%;
  background-color: transparent;
}

#root {

}